{
    "presets": [["@babel/preset-env", { "targets": { "node": "current" } }], ["@babel/preset-react", { "runtime": "automatic" }], "@babel/preset-typescript"],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": true,
                "libraryDirectory": "es"
            }
        ]
    ]
}
